


<h1>Listing service_areas</h1>

<table>
  <thead>
    <tr>
      <th>Tweet</th>
      <th>Average Utility Costs</th>
      <th>Zip Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>


    <% @tweetText.each do |tweet| %>
<% outText = tweet.gsub(/[@]\S*/, '') %>

      <tr>
        <td><%= outText %></td>
        <td><%= @response[rand(0..2)]["outputs"]["residential"] %></td>
        <td>"$/kwH"</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service area', new_service_area_path %>
