

<center><h1>Recent Tweets in 33304</h1></center>

<center><table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th></th>
      <th>Tweet</th>
      <th>Utility Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</center>
 <center> <tbody>

    <% @tweetText.each do |tweet| %>
    <% outText = tweet.gsub(/[@]\S*/, '') %>

      <tr>
        <td><a href="https://twitter.com/sssolarfl" target="_blank"><%= image_tag "twitter-icon.png", style:"max-width: 1.7em; height: auto; margin-left: 1em" %></a>
        </td>
        <td><a href="#"><%= outText %></a></td>
        <td><%= number_to_currency @response[rand(0..2)]["outputs"]["residential"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<br>

