<%= form_tag sessions_path,  :html => {:class => "pure-form"} do  %>
 
   <fieldset class="pure-group">
    <div class="pure-input-1-2", style:"margin-left: 12vw">

    <%= text_field_tag :email %> 
  </div>
  </fieldset>

  <fieldset class="pure-group">
    <div class="pure-input-1-2">
    <%= password_field_tag :password %>
    </div>
    </fieldset>
  
  
    <%= submit_tag 'Log in', class: "pure-button pure-input-1-2 pure-button-primary" %>
  
<% end %>
