<!--renamed file .erb mm  -->
<center> <font face="helvetica" color="gold"><h1>Who We Are</h1></font></center>


<!--just playing with font and colors -->
<center><font face="helvetica" color="black">
  SunnySide connects people
  with solar panel installers.<br> 
  Our careful vetting process ensures that you will find <br>
a installer you can trust<br><br><br>

<div class="pure-g">
    <div class="pure-u-1-3"><%= image_tag "robert.jpg", style:"max-width: 150px; height: auto;" %>
<p>Robert Anderson</p></div>
    <div class="pure-u-1-3"><%= image_tag "iran.jpg", style:"max-width: 150px; height: auto;" %>
<p>Iran Campos</p></div>
    <div class="pure-u-1-3"><%= image_tag "Mitch_wyn.jpg", style:"max-width: 150px; height: auto;" %>
<p>Mitch McBee</p></div>
</div>

<br><br></font></center>