<!--renamed file .erb mm  -->
<h1><center> <font face="helvetica" color="gold">Who We Are </h1>

<p>

<!--just playing with font and colors -->
<center><font face="helvetica" color="black">
  SunnySide connects customers/developers
  with solar panel installers
who are <br> registered with SunnySide and
meet SunnySides’s criteria for <br>
quality work and reputable performance.

<!--code for the picture spacing  -->
<div class='formatted'>
   <div class="pics">
        <%= image_tag "robert.jpg", style:"max-width: 150px; height: auto;" %>
        <br/>
        <span>Robert Anderson</span>
    </div>
    <div class="pics">
        <%= image_tag "iran.jpg", style:"max-width: 150px; height: auto;" %>
        <br/>
        <span>Iran Campos</span>
    </div>
    <div class="pics">
        <%= image_tag "Mitch_wyn.jpg", style:"max-width: 150px; height: auto;" %>
        <br/>
        <span>Mitch McBee</span>
    </div>
</div>

</p>
