<!--renamed file to .erb  -->

<h1><center><font face="helvetica" color="gold">The Benefits of Solar</h1>
  <!-- <div class='formatted'>
     <div class="pics">
          <%= image_tag "solarinstaller.jpg", style:"max-width: 150px; height: auto;" %>
      </div> -->
<STYLE TYPE="text/css">
.indented {
 padding-left: 50pt;
 padding-right: 50pt;
 }
 </STYLE>

<P CLASS="indented">
 <br><font face="helvetica" color="black">Solar power is energy from the sun that is converted into thermal or electrical energy.<br>

 <br><a href="http://energy.gov/science-innovation/energy-sources/renewable-energy/solar">Solar</a> energy is the cleanest and most abundant renewable energy source available, and the U.S.
 has some of the richest solar resources in the world. Modern technology can harness this energy for
 a variety of uses, including generating electricity, providing light or a comfortable interior
 environment, and heating water for domestic, commercial, or industrial use.<br>

 <br>Solar panels turn the suns solar energy into electricity via photovoltaics. Photovoltaics allow
 electrons on the surface of a solar panel to be knocked loose by the incoming rays of the sun. These
 loose electrons create a direct current (DC) of electricity as they follow a pre-determined pathway
 on the solar panel. The DC electricity is then either stored in batteries, sent to the grid, or
 converted into alternating current (AC) using an inverter for use at the location.<br>
<br>

<!-- <div class='formatted'>
   <div class="pics"> -->
  <%= image_tag "solarinstaller.jpg", style:"max-width: 150px; height: auto;" %>
    <!-- </div> -->

    10 Reasons to GO SOLAR<br>
<br>
1. <font color="orange">It’s good for the environment.</font>   Unlike conventional power, solar produces no harmful emissions that hurt the environment.
<br>
<br>
2. <font color="orange">It’s a solid home investment.</font>   Many home improvements that you will make, will not add the same value that you put into them.  Solar energy will save you money each month.  In addition, the investment that you made in solar, will add its exact property value to the home.
<br>
<br>
3. <font color="orange">Solar Energy systems are durable.</font>  Solar panels have no moving parts, so they are not damaged easily.  This lowers the chance for an interruption in service.
<br>
<br>
4. <font color="orange">Solar can actually make you money!</font>  In certain states, excess solar energy pushed back onto the grid can be sold.   This could provide an extra source of income.  For more on SRECs http://www.srectrade.com/background.php.
<br>
<br>
5. <font color="orange">Solar could help you afford that home improvement you’ve been wanting.</font>  Many people design a swimming pool or hot tub with their solar system in mind.  On average a swimming pool adds $300 to your monthly energy bill.  Your solar system could be designed with that extra usage in mind.
<br>
<br>
6. <font color="orange">Solar has a fixed energy cost.</font>  Utility providers often raise energy costs, but your cost for a solar system would be the same monthly until paid off. (or for the length of your PPA agreement.)
<br>
<br>
7. <font color="orange">Being ahead of the curve.</font>  The future of energy is in renewable and clean energy.  By converting to solar energy now, you’d be a step ahead.
<br>
<br>
8. <font color="orange">You can use your Solar Energy all day.</font> There’s a big myth that solar power only works when there is sun, so during the evening hours, you risk a power outage.  This is untrue.  Most solar energy providers keep you connected to the grid.  During the morning and afternoon hours, when most people are at work, your solar system will produce more electricity than your home is using.  This excess electricity is pushed back onto the grid.  This literally causes your electricity meter to spin backwards.  In the evening hours when the sun is down, you will be using the credited energy from the meter spinning backwards.  This excess energy does not expire.  It’s like roll-over minutes.
<br>
<br>
9. <font color="orange">Solar Energy is cool!</font> Let’s face it, what’s cooler than the sun powering your home?
<br>
<br>
10. <font color="orange">Either way, you can’t keep the money</font>.  Whether you’re spending money to make an investment in solar energy, or giving that money to your utility provider, that money is still being spent.  Deciding to go solar is very much similar to deciding to purchase a home.  You can invest in yourself and take control of your energy costs, or pay your utility provider for rented energy monthly.
<br>
<br>
Let us help you invest in your energy future.  We’ll make solar simple.
<br>
<br>
For more information call us at 1-866-83-SOLAR.
<br>
<br>
Or contact us at www.sunnyside.com
