

<!-- <div class='home-logo'>

    <div class='header-links'>
        </div>
</div>
 -->
<header id="header">
<div class="section group">
    <div class="col span_2_of_6">
        <div id='head'>
            <h2>sunnySide</h2>
        </div>
    </div>
        <div class="col span_4_of_6">
            <div id="nav-bar">
                <ul>
                    <li>Login</li>
                    <li>Education</li>
                    <li>About us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</header>


<div class="section group">
    <div class="col span_6_of_6 sunnyheader">
        
        <div id='back-pic'>
            <div>
        <div class="col span_5_of_6">
        </div>
            <div class="col span_1_of_6">
                <div id='contain-back-text'>
                <ul>
                    <li>Find a Contractor</li>
                </ul>
                </div>
                </div>

            </div>
           
        </div>
    </div>
    
</div>

<div class="section group">
    <div class="col span_6_of_6">
    6 of 6 Solar Contractors Near You
    </div>
</div>    
<div class="section group">    
    <div class="col span_2_of_6">
        <div>
            2 of 6 local contractor
        </div>
    </div>
    <div class="col span_2_of_6">
        <div>
            2 of 6 local contractor
        </div>
    </div>
    <div class="col span_2_of_6">
        <div>
            2 of 6 local contractor
        </div>
    </div>
</div>



<footer>
<div class="sitemap-links-block">
        <h5>The Company</h5>
         <div id='footer-text'>
          <ul>
            <li>About Us</li>
                    <li>In The Press</li>
                    <li>Careers</li>
                    <li>Privacy Policy</li>
                    <li>Affiliate Program</li>
                    <li>Investor Relations</li>
                  </ul>
                </div>
            </div>


</footer>
