<div>
<h2>SunnySide</h2>
</div>


<footer>
<div>
        <h5>The Company</h5>
          <ul>
            <li>About Us</li>
                    <li>In The Press</li>
                    <li>Careers</li>
                    <li>Privacy Policy</li>
                    <li>Affiliate Program</li>
                    <li>Investor Relations</li>
                  </ul>
                </div>


</footer>
