/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/** {
  border-width: 2px;
  border-color: blue;
  text-align: center;
}*/
/*
div * {
  position: center;
}*/



/*#114B5F
*/

/* home page css */
/*.home-logo {
  background-color: #20c063;
  height: 5vw;
  color: white;
}*/


/* random body css */

header {
  background-color: #20c063;
  color: white;
  height: 10vh;
}
/*
footer {
  background-color: #474e52;
  color: white;
  height: 30vh;
}
*/
#back-pic {
  height: 50vw;
  background-image: url('http://i.imgur.com/I9McoXX.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

#head {
  margin-left: 2vw;
}

#nav-bar li {
  display: inline;
  margin: 10px;


}

#nav-bar ul {
  text-align: right;
  margin-right: 10vw;
}

#contain-back-text ul{
  padding: 0 0 0 0 ;
  margin: 0;
}

ul {
  
  list-style-type: none;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SIX  */
.span_6_of_6 {
  width: 100%;
  text-align: center;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}
.span_1_of_6 li {
    background-color: #fe9809;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}




