<!DOCTYPE html>
<html>
<head>


  <title>Sunnyside</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Marker animations with <code>setTimeout()</code></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <style>
      html, body {
        height: 40vw;
        width: auto;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }

    </style>
</head>
<body>
  <div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">sunnySide</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="/customers/1" class="pure-menu-link">Search</a></li>
        <li class="pure-menu-item"><a href="/sessions/new" class="pure-menu-link">Login</a></li>
        <li class="pure-menu-item"><a href="/education" class="pure-menu-link">Why Solar?</a></li>
        <li class="pure-menu-item"><a href="/about-us" class="pure-menu-link">About</a></li>
    </ul>
</div>



<%= yield %>

<div class="footer l-box">
    <p>
        <a href="#"></a> Sunnyside<a href='http://unsplash.com/'></a>.
    </p>
</div>
</body>
</html>
